//variables
@import "shared/variables";


//personalizar variables bootstrap
@import "shared/myBootstraps";

//otros

#lasTarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    background-color: $light;
    margin-top: 5%;
}